.navbarBox{
    position: fixed;
    height: 850px;
    width: 250px;
    background-color: rgb(187, 184, 184);
}

.productName{
    font-family:Circular-Book,Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 900;
    margin: 10%;
    color: rgb(54, 53, 53);
    text-decoration: none;
}

.boxOne{
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 5%;
}

.details{
    text-decoration: none;
    margin: 15px 0px 0px 60px;
    font-size: 20px;
    color: rgb(78, 74, 74);
}

.details:hover{
    background-color: honeydew;
}